extends ../layouts/main-layout.pug

block styles
  link(rel='stylesheet', href='/css/forms.css')
  link(rel='stylesheet', href='/css/product.css')

block content
  main
    form.product-form(action='/admin/edit-product', method='POST')
      if editing
        input#title(type='hidden', name='id', value=(product.id))

      .form-control
        label(for='title') Title
        input#title(type='text', name='title', value=(editing ? product.title : ''))

      .form-control
        label(for='imageUrl') Image URL
        input#imageUrl(type='text', name='imageUrl', value=(editing ? product.imageUrl : ''))

      .form-control
        label(for='price') Price
        input#price(type='number', name='price', step='0.01', value=(editing ? product.price : ''))
        
      .form-control
        label(for='description') Description
        textarea#description(name="description", cols="40", rows="5") #{editing ? product.description : ''}

      button.btn(type='submit') #{editing ? 'Save changes' : 'Add product'}
  
block scripts
  script.
    const successSave = "#{successSave}"
  script(src="/js/add-product.js")